body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    background-color: #000;
    border: 1px solid #fff;
    image-rendering: pixelated;
}


#touchControls {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    touch-action: none; 
}

#dPad {
    display: flex;
    margin-left: 10px;
}

#dPad button {
    width: 60px;
    height: 60px;
    font-size: 32px;
}

#actionButtons {
    display: flex;
    margin-right: 10px;
}

#actionButtons button {
    width: 80px;
    height: 60px;
    margin-left: 5px;
    font-size: 14px;
}

#touchPauseButton {
    width: 80px;
    height: 30px;
    font-size: 12px;
    background: none !important;
}

#touchControls button {
    background: ;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

#touchControls button:active {
    background: #555;
}


@media (min-width: 1200px) {
    /* Hide touch controls on extra-large screens */
    #touchControls {
        display: none;
    }
}


.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid white;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background: #333;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

#controlsInfo {
    text-align: left;
    margin-top: 10px;
}
