/* Base Styles */
body {
    margin: 0;
    background-color: black;
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    background-color: #87CEEB; /* Sky blue background */
    border: 2px solid #fff;
    max-width: 80vw;
    height: auto;
}

#pauseButton {
    height: 10px;
    pointer-events: auto;
}
#touchControls button {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#touchControls button img {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#touchControls {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    pointer-events: none; 
}

#leftRightButtons {
    display: flex;
    height: 80px;
    pointer-events: auto; 
}


#jumpStompButtons {
    display: flex;
    height: 80px;
    pointer-events: auto; 
}


#touchControls button {
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px white;
    padding: 5px;
    margin: 0px;
    border-radius: 10px;
    touch-action: none;  
    color: white;
    font-size: 18px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#touchControls button img {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 1200px) {
    #gameCanvas {
        width: 100%;
        height: auto;
    }

    #touchControls {
        flex-direction: row;
        bottom: 0px;
    }

    #leftRightButtons,
    #jumpStompButtons {
        flex: 1;
        justify-content: space-around;
    }

    #touchControls button {
        padding: 20px;
        margin: 10px;
        font-size: 24px;
    }

    #touchControls button img {
        width: 50px;
        height: 50px;
    }
}


@media only screen and (max-width: 768px) {
    #touchControls {
        flex-direction: column;
        bottom: 10px;
    }

    #leftRightButtons,
    #jumpStompButtons {
        width: 80%;
        justify-content: space-around;
        margin-bottom: 0px;
    }

    #touchControls button {
        padding: 20px;
        margin: 5px;
        font-size: 20px;
    }

    #touchControls button img {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 480px) {
    #touchControls button {
        padding: 15px;
        margin: 5px;
        font-size: 18px;
    }

    #touchControls button img {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (orientation: portrait) {
    #gameCanvas {
        max-height: 70vh;
        width: 100%;
    }

    #touchControls {
        flex-direction: row;
        bottom: 20px;
    }

    #leftRightButtons,
    #jumpStompButtons {
        width: 50%;
        height: 150px;
        margin-bottom: 10px;
    }


    #touchControls button {
        padding: 15px;
        font-size: 20px;
    }

    #touchControls button img {
        width: 35px;
        height: 35px;
    }
}


@media only screen and (min-width: 1025px) {
    #touchControls {
        display: none;
    }
}
