/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px 70px;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

.video-interactions {
    margin-top: 15px;
}

.video-interactions button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.pick-of-day {
    width: 150px;
    margin: 10px;
    text-align: center;
}

.pick-of-day img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

#like-button {
    background-color: #e1e1e1;
    color: #000;
}

#like-button.liked {
    background-color: #4CAF50;
    color: #fff;
}

#subscribe-button {
    background-color: #e1e1e1;
    color: #000;
}

#subscribe-button.subscribed {
    background-color: #4CAF50;
    color: #fff;
}


.header {
    background-color: #fff;
    padding: 0;
}

#search-button {
    background-color: #f1f1f1;
    padding: 5px;
    font-size: 14px;
    margin-left: 10px;
    border: solid 1px;
    height: 90%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5px;
}

.footer {
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 12px;
    color: #666;
    border-top: 1px solid #ccc;
}

.footer-sections {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footer-column {
    width: 30%;
}

.footer-column h4 {
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.footer-column a {
    color: #0066c0;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    color: #999;
}

.logo img {
    height: 200px; /* Adjust the height as needed */
}

.header-links a {
    margin: 0 5px;
    color: #1342d0;
    font-size: 14px;
    text-decoration: underline;
}

.header-links a:hover {
    color: #000;
}

.header-links a + a::before {
    content: "|";
    margin-left: 5px;
    margin-right: 5px;
    color: #1342d0;
}

#powerby {
    position: absolute;
    right: 10px; 
    height: 40px;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 20px; 
    padding: 0;
    margin-top: -70px;
}

.tab {
    padding: 10px 15px;
    font-weight: bold;
    color: #355bb6;
    text-align: center;
    border-top: solid 1px #3f66b7;
    border-left: solid 1px #3f66b7;
    border-right: solid 1px #3f66b7;
    border-bottom: none;
    transition: background-color 0.3s, color 0.3s;
    background: linear-gradient(to bottom, #f7f9fd, #adbce1);
    width: 120px;
    border-radius: 1px; 
}

.tab.active {
    background: linear-gradient(to bottom, #ffffff, #cccccc);
    border-radius: 1px;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    border-bottom: none;
}

.tab:hover {
    background-color: #d1d1d1;
    color: #000;
}

/* Search Bar */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px 20px 0 0;
    padding: 10px 0 20px 0; /* Space below search bar */
    background: linear-gradient(to bottom, #cccccc, #dfdfdf);
}

.search-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
}

.search-bar {
    width: 100%;
    max-width: 800px;
    padding: 4px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 2px;
}


.main {
    display: flex;
    margin-top: 20px;
}

/* Main Content Area */
.main-content {
    flex: 1;
    margin-right: 20px; 
    padding-left: 10px;
}

/* Top Row Layout */
.videos-watched {
    margin-bottom: 30px;
}

.videos-watched h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.videos-watched .video-grid {
    margin-top: 15px;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
}

.video-thumb {
    width: 150px;
    margin: 10px;
    text-align: center;
}

.video-thumb img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.video-thumb p {
    margin-top: 5px;
    font-size: 14px;
}

/* Sidebar Area: Login and News */
.sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.login-form, .news-section {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 20px;
}

.login-form h2, .news-section h2 {
    margin-top: 0;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin: 10px 0 5px;
    color: #333;
}

.login-form input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #e1e1e1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #d1d1d1;
}

.comments-section {
    margin-top: 30px;
}

.comments-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.comment-toggle {
    cursor: pointer;
    color: #065fd4;
    margin-bottom: 10px;
}

.comment-toggle:hover {
    text-decoration: underline;
}

.comments-container {
    width: 
}

.pagination {
    padding-bottom: 10px;
    padding-right: 50px;
    text-align: right;
}
.pagination a {
    color: blue; 
    text-decoration: underline;
    padding: 2px 2px;
    margin: 0 5px;
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    color: black; /* Text color on hover */
}

.comment {
    margin-bottom: 15px;
}

.comment p {
    margin: 0;
}

.comment strong {
    color: #065fd4;
}

.news-section {
    background-color: #ffffdb;
    color: #d27511;
    border: 1px solid #d27511;
    border-radius: 4px;
    padding: 15px;
    flex: 1; /* Allow news section to take remaining vertical space */
    overflow-y: auto; /* Enable scrolling if content overflows */
}

.news-section h2 {
    border-bottom: 2px solid #d27511;
}

.news-section p {
    margin: 10px 0 0;
    font-size: 16px;
}

/* Promoted and Featured Videos Sections */
section h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
}

.video-thumb {
    width: 150px;
    margin: 10px;
    text-align: center;
}

.video-thumb img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.video-thumb p {
    margin-top: 5px;
    font-size: 14px;
}

/* Video Page Styles */
.video-page {
    padding: 20px;
}

.video-player {
    text-align: center;
    margin-bottom: 20px;
}

.video-details {
    margin-bottom: 20px;
}

.actions button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #e1e1e1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.actions button:hover {
    background-color: #d1d1d1;
}

.comments {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.comments h3 {
    margin-top: 0;
}

.comment {
    margin-bottom: 15px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .main {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
    }


}

@media (min-width: 769px) {
    .header-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #powerby {
        display: none;
    }


    .logo img {
        height: 100px; /* Increased height for desktop */
    }

    .tabs {
        gap: 10px; 
        margin-top: 0px;
    }

    .tab {
        border-top: solid 1px #3f66b7;
        border-left: solid 1px #3f66b7;
        border-right: solid 1px #3f66b7;
        border-bottom: none;
    }
    .main {
        flex-direction: row;
    }

    .main-content {
        flex: 1;
        margin-right: 20px;
    }

    .video-thumb {
        width: 23%;
    }

    .sidebar {
        width: 300px;
        margin-top: 0;
    }

    .footer-sections {
        flex-direction: row;
    }

    .footer-column {
        width: 30%;
    }
}

@media (min-width: 769px) {
    .header-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .tab.active {
        border-top: solid 1px #cccccc;
        border-left: solid 1px #cccccc;
        border-right: solid 1px #cccccc;
        border-bottom: solid 1px #cccccc;
    }

    #powerby {
        display: none;
    }



    .logo img {
        height: 100px; 
    }

    .tabs {
        gap: 10px; 
        margin-top: 0px;
    }

    .tab {
        border-top: solid 1px #3f66b7;
        border-left: solid 1px #3f66b7;
        border-right: solid 1px #3f66b7;
        border-bottom: solid 1px #3f66b7;
    }

    .main {
        flex-direction: row;
    }

    .left-column {
        flex: 1;
        margin-right: 20px;
    }

    .video-thumb {
        width: 23%;
    }

    .right-column {
        display: block;
        width: 300px;
        margin-top: 0;
    }

    .footer-sections {
        flex-direction: row;
    }

    .footer-column {
        width: 30%;
    }

    #sidebar-toggle {
        display: none; 
    }
}


@media (max-width: 768px) {
    .search-bar-wrapper {
        flex-direction: column; 
    }


    .search-container {
        background: transparent;
    }

    #powerby {
        display: none;
    }


    .search-bar, #search-button {
        width: 100%;
        border-radius: 2px;
    }

    #search-button {
        margin-left: 0;
        margin-top: 10px; 
        width: 65px;
        border-radius: 1px;
    }

    .tabs {
        flex-direction: column;
        align-items: center;
        gap: 10px; 
        margin-top: 0px;
    }

    .tab {
        border-top: solid 1px #3f66b7;
        border-left: solid 1px #3f66b7;
        border-right: solid 1px #3f66b7;
        border-bottom: solid 1px #3f66b7;
        max-width: 100%;
        width: 80%;
    }

    .video-thumb {
        width: 100%;
    }

    .main {
        flex-direction: column;
        margin: 10px;
    }

    .left-column, .right-column {
        width: 100%;
        margin-right: 0;
    }

    /* Video Player */
    .player-container {
        aspect-ratio: 16 / 9;
    }

    /* Related and Promoted Videos */
    .related-videos, .promoted-videos {
        margin-top: 15px;
    }

    .related-video, .promoted-video {
        flex-direction: column;
        align-items: center;
    }


    .logo img {
        height: 80px;
    }

    .header-links {
        flex-direction: column;
        gap: 5px;
    }

    .header-links a + a::before {
        content: "";
        margin: 0;
    }

    .news-section {
        max-height: none;
    }


    .sidebar {
        display: none;
    }


    #sidebar-toggle {
        display: block;
    }
}

@media (max-width: 480px) {

    #video-description {
        font-size: 14px;
    }

    /* Video Actions */
    .video-actions {
        flex-direction: column;
        align-items: stretch;
    }

    .action-button {
        width: 100%;
        margin-bottom: 10px;
    }

    /* Embed Section */
    #embed-code {
        font-size: 12px;
    }

    /* Comments Section */
    .comment-section {
        font-size: 14px;
    }

    .comments-section h3 {
        font-size: 16px;
    }

    .comment-toggle {
        font-size: 14px;
    }

    .comments-container .comment p {
        font-size: 13px;
    }

    /* Related and Promoted Videos */
    .related-video p, .promoted-video p {
        font-size: 13px;
    }

    #sidebar-toggle.active + .sidebar {
        display: block;
        position: fixed;
        top: 60px; /* Adjust based on header height */
        right: 10px;
        width: 80%;
        max-width: 300px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        z-index: 999;
        padding: 15px;
        overflow-y: auto;
        height: calc(100% - 60px);
    }
}
